* {
    font-family: arial;
}

.blog {
    background-color: #026faa;
}


/* Dropdown styles */

.dropdown {
    max-width: 9rem;
    margin: 0;
    position: relative;
    width: 100%;
}

.dropdown-btn {
    /*background: #1d1f24;*/
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    height: 12px;
    border: none;
    background-color: white;
    /*color: #fff;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    cursor: pointer;
}

.arrow {
    
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    
    transition: tranform ease-in-out 0.3s;
}

.dropdown-content {
    list-style: none;
    /*border: 10px solid black;*/
    border-color: black;
    background-color: white;
    width: 5px;
    position: absolute;
    top: 3.2em;
    width: 100%;
    visibility: hidden;
    /* overflow: hidden; */
    transform: translateY(-1em);
    transition: transform ease 0.3s;
    /*
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    */
}

input[type="checkbox"]:checked ~ .dropdown-content {
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content li {
    background: white;
    /*border-radius: 0.5em;*/
}

input[type="checkbox"]:checked + label > .arrow {
    transform: rotate(180deg);
}



input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

/*
input[type="checkbox"]:focus + label {
    box-shadow: 0 0 20px rgb(83, 83, 83);
  }

.dropdown-content li:hover {
    background: #1d1f24;
  }
*/  


.dropdown-content li a {
    display: block;
    padding: 0;
    color: black;
    font-size: 22px;
    margin: 0;
    text-decoration: none;
}









form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.form-header input {
    height: 30px;;
    font-size: 20px;
}
  
#submit-btn {
    background-color: #30a6e6;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-width: 0px;
    height: 40px;
    width: 120px;
    border-radius: 5px;

    align-self: flex-end;
}
  
#cancel-btn {
    background-color: white;
    color: #30a6e6;
    border-style: solid;
    border-color: #30a6e6;
    border-width: 5px;;
    font-weight: bold;
    font-size: 20px;
    border-width: 0px;
    height: 40px;
    width: 120px;
    border-radius: 5px;

    align-self: flex-end;
}

.modal-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
}


textarea {
    height: 100px;
    width: 700px;
    border-radius: 5px;
    font-size: 20px;
}

.modal-update {
    display: block;
    height: 300px;
    width: 720px;
    z-index: 1;
    position: fixed;
    top: 300px;
    padding: 20px;

}

#update_entry_id_input {
    border: 0px;
}

.container h1 {
    font-size: 25px;
}

.empty {
    height: 10px;
}

.entire-entry {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 20px;
}

.entry {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    margin-bottom: 0px;
    padding: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    position: relative;
}

.entry-icons {
    position: absolute;
    right: 5px;
    top: -5px;

    display: flex;
    flex-direction: row;
    gap: 5px;

}

.entry-icons > a  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entry img, #X {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(50%) sepia(3%) 
    saturate(7%) hue-rotate(30deg) brightness(99%) contrast(83%);
}

.entry-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.entry-header, .entry-content {
    margin: 0px;
}

.date {
    font-size: 15px;
    color: grey;
}

.entry-content {
    font-size: 18px;
    margin-bottom: 5px;;
}

.reaction{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 0px;
    border-color: grey;
}

.like, .comment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.like img, .comment img, .comment-form img {
    width: 21px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(9%) 
    saturate(17%) hue-rotate(14deg) brightness(95%) contrast(90%);
}
 
.like h3, .comment h3 {
    color: grey;
}

.comment-list {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    border-color: grey;
    height: auto;
}

.comment-post {
    display: flex;
    flex-direction: row;

    height: auto;
    padding-top: 10px;
    padding-right: 10px;
    
    position: relative
}

.comment-post #X {
    position: absolute;
    top: 10px;
    right: 5px;
    margin: 0px;
    cursor: pointer;
}

.comment-icons {
    /*display: flex;
    flex-direction: row;
    justify-content: flex-end;*/
    justify-self: right;
}

.comment-left-area {
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-left-area img {
    width: 50px;
    
}

.comment-bubble {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;*/
    max-width: 600.9px;
    height: auto;
}

.comment-bubble h3 {
    margin-top: 5px;
    margin-bottom: 5px;;
}

.comment-text {
    font-size: large;
    margin-top: 5px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding-bottom: ;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    margin-bottom: 25px;
}

.comment-form input {
    width: 90%;
    height: 35px;
    margin: 15px;
    margin-bottom: 3px;
    font-size: large;
    padding-left: 20px;
    border-radius: 9px;
    /*align-self: center;
    justify-self: flex-end;*/
}

.comment-form button{
    align-self: flex-end;
    justify-self: center;
    margin-right: 27px;
    margin-bottom: 10px;
    background-color: #30a6e6;
    width: 80px;
    height: 30px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.comment-form button img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(0%) 
    hue-rotate(145deg) brightness(114%) contrast(100%);
    align-self: center;
    justify-self: center;
}
